*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

.container{
  
}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto;
}
#icon{
    display: none;
}


.signup{
    padding-right: 80px;
    padding-top:33px ;
  
}

   
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
    
    
   
}
.webber{
    padding-left: clamp(30px,6.8vw,80px);
    padding-top: clamp(25px,2.4vw,30px);
}
.u-list{
    font-weight: 400;
    font-size:clamp(14px,1.25vw,16px);
    line-height: 16px;
    padding-top: 45px;
}
.u-list ul{
    display: flex;
    list-style: none;
}
#border{
    padding-bottom: 6px;
    border-bottom: 1.5px #18181B solid;
}
.u-list ul li{
    padding-right: 30px;
    
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}
.blur{
    width: 100%;
    padding-bottom: clamp(45px,10.8vw,139px);
    background: rgba(165, 243, 252, 0.8);
filter: blur(500px);
}
.c-heading{
    text-align: center;
}
.c-heading h1{
    font-weight: 900;
    font-size: clamp(32px,7.5vw,96px);
    line-height: 120%;
    text-align: center;
    letter-spacing: -2px;
    color: #1F2937;
}
.c-heading p{
    margin: 0 auto;
    padding-top: 13px;
    font-weight: 400;
font-size: clamp(12px,1.6vw,20px);
line-height: 25px;
text-align: center;
color: #52525B;
max-width:clamp(300px,62.4vw,800px) ;
width: 100%;
}
.form select{
    background-color: #A5F3FC0D;
    border: 1px #f4fcfd0d solid;
}
.form{
    display: flex;
    justify-content: center;
    padding:20px 0px;
    border: 1px #D4D4D8 solid;
    margin: auto;
    max-width: clamp(300px,31.7vw,406px);
    width: 100%;
    max-height: 64px;
    height: 100%;
    margin-top: 40px;
    font-weight: 500;
font-size: clamp(12px,1.25vw,16px);
line-height: 16px;
color: #52525B;

}
.f-padd{
    padding-right: 10px;
    padding-left: 10px;
   
}
.f-padd-2{
    padding-right: 10px;
    padding-left: 10px;
}
.main-c{
    display: flex;
    justify-content: space-between;
    gap: 87px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    max-width: 1087px;
    width: 100%;
    margin: 0 auto;
}
.main-c img{
    max-width: clamp(300px,39vw,500px);
    max-height: clamp(350px,46.8vw,600px);
}
.same{
    max-width: 500px;
    width: 100%;
}
.same p{
    font-weight: 400;
font-size: clamp(12px,1.25vw,16px);
line-height: 24px;
color: #52525B;
padding-top: 8px;
max-width:clamp(300px,39vw,500px) ;
}
.same h1{
    font-weight: 800;
font-size: clamp(18px,2.1vw,28px);
line-height: 28px;
letter-spacing: -0.02em;
font-feature-settings: 'liga' off;
color: #27272A;
padding-top: 12px;
}
.m-c-1{
    margin-top: 194px;
}
.m-c-2{
   margin-top: 89px;
}
#btn-c{
    background-color:transparent;
    border: 1px transparent solid;
   cursor: pointer;
  padding-top: 12px;
  padding-bottom: 80px;
}
#p-b-c{
    color: #0E7490;
}
@media(max-width:1120px){
    .main-c{
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
    }
    .m-c-1{
        margin-top: 80px;
    }
    .m-c-2{
        margin-top: -80px;
    }
}
@media(max-width:750px){
    .webber img{
        width: clamp(50px,5.7vw,73px);
    }
#icon{
display: block;
      font-size: clamp(24px,2.3vw,30px);
     padding-right:20px ;
     cursor: pointer;
}
.u-list{
padding-top: 32px;
}
.u-list ul{
flex-direction: column;
display: none;
}
li{
padding-top: 30px;
}
 .s-b-t{
    background-color:black;
    width: 20px;
    height: 20px;
    position: absolute;
    
 }
 .signup{
    display: none;
 }
}
@media(max-width:650px){
    .blur{
        background: rgba(165, 243, 252, 0.8);
filter: blur(200px);
    }
}
@media(max-width:800px){
    .blur{
        background: rgba(165, 243, 252, 0.8);
filter: blur(250px);
    }}