*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

.container{
    max-height: 3300px;
    background: linear-gradient(180deg, rgba(165, 243, 252, 0.1) 23.31%, rgba(165, 243, 252, 0.05) 109.14%);
    border:1px #A5F3FC1A solid;
}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto;
}


.signup{
    padding-right: 80px;
    padding-top:33px ;
  
}

   
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
    
    
   
}
.webber{
   
    padding-top: 30px;
    padding-left: 80px;
}
.u-list{
    padding-top: 45px;
}
.u-list ul{
    display: flex;
    list-style: none;
}
#border{
    padding-bottom: 6px;
    border-bottom: 1.5px #18181B solid;
}
.u-list ul li{
    padding-right: 30px;
    
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}

.c-heading{
    text-align: center;
    margin-top: 139px;
}
.c-heading h1{
    font-weight: 900;
    font-size: 96px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -2px;
    color: #1F2937;
}
.c-heading p{
    padding-top: 13px;
    font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #52525B;
}
.form select{
    background-color: #A5F3FC0D;
    border: 1px #f4fcfd0d solid;
}
.form{
    display: flex;
    justify-content: center;
    padding:20px 0px;
    border: 1px #D4D4D8 solid;
    margin: auto;
    max-width: 406px;
    width: 100%;
    max-height: 64px;
    height: 100%;
    margin-top: 40px;
    font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #52525B;

}
.f-padd{
    padding-right: 10px;
    padding-left: 10px;
   
}
.f-padd-2{
    padding-right: 10px;
    padding-left: 10px;
}
.main-c{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.same{
    max-width: 500px;
    width: 100%;
}
.same p{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #52525B;
padding-top: 8px;
}
.same h1{
    font-weight: 800;
font-size: 28px;
line-height: 28px;
letter-spacing: -0.02em;
font-feature-settings: 'liga' off;
color: #27272A;
padding-top: 12px;
}
.m-c-1{
    margin-top: 194px;
}
.m-c-2{
   margin-top: 89px;
}
#btn-c{
    background-color:transparent;
    border: 1px transparent solid;
   cursor: pointer;
  padding-top: 12px;
  padding-bottom: 80px;
}
#p-b-c{
    color: #0E7490;
}


