*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-height: 3200px;
    background-color: #A5F3FC1A;
    border:1px #A5F3FC1A solid;
}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto;
}


.signup{
    padding-right: 50px;
    padding-top:35px ;
  
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 10px 15px;
    background-color: #CFFAFE;
    color: #0E7490;
    margin-right: 10px;
   
}
.webber{
   
    padding-top: 30px;
    padding-left: 80px;
}

.u-list ul{
    display: flex;
    list-style: none;
    padding-left: 40px;
   
}
.u-list ul li{
    padding-right: 30px;
    padding-top: 45px;
    font-family:sans-serif;
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}

.c-heading{
    text-align: center;
    margin-top: 200px;
    font-family: sans-serif;
}
.c-heading h1{
    font-size: 96px;
}
.c-heading p{
    padding-top: 16px;
}
.form select{
    background-color: #A5F3FC0D;
    border: 1px #f4fcfd0d solid;
    
}
.form{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding:20px 0px;
    border: 1px #D4D4D8 solid;
    margin: auto;
    max-width: 350px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    margin-top: 40px;
}
.f-padd{
    padding-right: 10px;
    padding-left: 10px;
}
.f-padd-2{
    padding-right: 10px;
    padding-left: 10px;
}
.main-c{
    font-family: sans-serif;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.main-c img{
    padding-top: 30px;
}
.same{
    max-width: 500px;
    width: 100%;
    
}
.m-c-1{
     margin-top: 220px;
}
.m-c-2{
    margin-top: 110px;
}
#p-img{
    padding-top: 2px;
    margin-bottom: -5px;
    margin-left:-5px;
}
#btn-c{
    background-color: #A5F3FC0D;
    border: 1px #A5F3FC0D solid;
   
}
#p-b-c{
    color: #0E7490;
}


