*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}


.container-b{

}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto;




}

#icon{
    display: none;
}
.signup{
    padding-right: 80px;
    padding-top:33px ;
  
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
    
   
}
.blur{
    width: 100%;
    padding-bottom: clamp(40px,9.7vw,125px);
    background: rgba(165, 243, 252, 0.8);
filter: blur(500px);
}
.webber{
   
    padding-left: clamp(30px,6.8vw,80px);
    padding-top: clamp(25px,2.4vw,30px);
}
.u-list{
    font-weight: 400;
    font-size:clamp(14px,1.25vw,16px);
    line-height: 16px;
    padding-top: 45px;
}
.u-list ul{
    display: flex;
    list-style: none;
    
   
}
.u-list ul li{
    padding-right: 30px;
    
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}
#border{
    border-bottom: 1.5px #18181B solid;
    padding-bottom: 6px;
}
.software{
    display: flex;
   justify-content: space-between;
   max-width: 1180px;
   width: 100%;
   margin: 0 auto;
}

.software-n img{
    max-width: clamp(350px,46.8vw,600px);
   padding-bottom: 16px;
}
.software-n p{
    padding-bottom: 32px;
    padding-top: 16px;
    font-weight: 400;
font-size: clamp(10px,1.25vw,16px);
line-height: 24px;
color: #27272A;
}
.software-n h4{
    padding-top: 16px;
    font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

letter-spacing: -0.02em;
font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;

}
.soft-1{
   display: flex;
   flex-direction: column;
   justify-content: center;
  
    max-width: 676px;
    width: 100%;
    margin-top: clamp(100px,17.9vw,230px);
    
    
}
.soft-1 p{
   padding-top: 12px;
   font-weight: 400;
   font-size: clamp(10px,1.25vw,16px);
   line-height: 24px;
   color: #52525B;
}
.soft-1 h1{
    padding-top: 12px;
    font-weight: 800;
font-size: 36px;
line-height: 36px;
/* identical to box height, or 100% */

letter-spacing: -0.02em;
font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;

}
.para1{
   display: flex;
   gap:  clamp(40px,6.3vw,81px);
   line-height: 40px;
}
.para2{
    display: flex;
    gap: clamp(90px,11.5vw,148px);
    line-height: 40px;
}

#pack{
    max-width: 630px;
}
.soft-2{
    max-width: 676px;
    width: 100%;
   margin-top: 100px;
}
.soft-2 p{
    font-weight: 400;
font-size: clamp(10px,1.25vw,16px);
line-height: 24px;
max-width: 500px;
color: #27272A;
padding-bottom: 32px;
}
.soft-2 h1{
    font-weight: 700;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

letter-spacing: -0.02em;
font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;

padding-bottom: 20px;
}

.soft-3{
    border: 1px #0E7490 solid;
    max-width: clamp(300px,33.2vw,425px);
    width: 100%;
    max-height: clamp(270px,25.3vw,350px);
    height: 100%;
   padding-left:30px ;
   padding-right:30px;
   padding-top:20px ;
   padding-bottom:20px ;

    background: linear-gradient(274.03deg, #0284C7 0%, #0E7490 100%);
    color: #fff;
    margin-top: 52px;
}
.soft-3 h1{
    padding-top:40px ;
    padding-bottom: 32px;
    padding-left:32px ;
    font-weight: 700;
font-size: clamp(18px,1.8vw,24px);
line-height: 24px;
/* identical to box height, or 100% */

letter-spacing: -0.01em;

color: #FFFFFF;
}
.soft-3 p{
    
    padding-left: 32px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: clamp(12px,1.25vw,16px);
    line-height: 24px;
    /* or 150% */
    
    
    color: #FFFFFF;
}
.soft-3 button{

    font-weight: 500;
font-size: clamp(12px,1.25vw,16px);
}
.hold{
   display: flex;
   gap: 16px;
  padding-left:32px ;
}
.software-2{
    margin-top: 130px;
    
}
.software-2 img {
    max-width: clamp(350px,37.8vw,485px);
    max-height: 400px;
}
#btn1{
    background-color: #fff;
    border: 1px #fff solid;
    color: #0E7490;
border-radius: 2px;
padding: 16px 27px;
}
#btn2{
    background: transparent;
    border-radius: 2px;
    border: 1px #fff solid;
    color: #fff;
border-radius: 2px;
padding: 16px 32px;

}
.milestones{
   
    max-width: 600px;
    display: flex;
    flex-direction: column;

    
  
  
}
#end{
    margin-top: 32px;
}
.milestones img{
    max-width: 679px;
    width: 100%;
    
    padding-top: 20px;
   
}
.milestones p{
     padding-left: 20px;
     padding-top: 20px;
     max-width: 550px;
     
}
.milestones h4{
    padding-left: 20px;
    padding-top: 20px;
    
}
.more{
    display: flex;
    justify-content:space-between;
    gap:35px;
}
.swiss{
    max-width: clamp(200px,22vw,256px);
    width: 100%;
   
   
    margin: 0 auto;
}
.swiss img{
    max-width:clamp(200px,21.7vw,250px);

}
.swiss p{
    font-weight: 400;
font-size: clamp(10px,1.1vw,14px);
line-height: 20px;
/* or 143% */

font-feature-settings: 'liga' off;

/* gray/600 */

color: #52525B;

}
.swiss button{
    border: 1px transparent solid;
    background-color: transparent;
    cursor: pointer;
}
.swiss h3{
    font-weight: 800;
    font-size: clamp(18px,1.9vw,23px);
    line-height: 28px;
    /* identical to box height, or 100% */
    
    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;
    
    /* gray/800 */
    
    color: #27272A;
    padding-top: 12px;
    padding-bottom:8px ;
}
#adjust{
    padding-top: 25px;
}
#b-c{
    padding-top: 19px;
}
.m-div{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 50px;
    padding-top: 59px;
 width: 100%;
}
.m-div h2{
    font-weight: 700;
font-size: 28px;
line-height: 28px;
letter-spacing: -0.02em;
font-feature-settings: 'liga' off;
color: #27272A;
padding-bottom: 47px;
padding-left: 16px;


}
.margin-8{
    background-color: #E4E4E7;
}
.margin-6{
    background-color:#F4F4F5 ;
}


.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
   
    margin: 0 auto;
   
    max-width: clamp(100px,86.3vw,1105px);
height: 100%;
     padding-bottom: 60px;
}
.footer h1{
    font-weight: 500;
font-size:clamp(18px,1.7vw,20px);
line-height: 30px;
padding-bottom: 5px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;

color: #27272A;

}
.footer p{
    font-weight: 400;
font-size: clamp(13px,1.25vw,16px);
line-height: 26px;
/* identical to box height, or 162% */

font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;
padding-top: 12px;
}
.footer a{
    text-decoration: none;
    color: #27272A;
   
}
.footer-2{
   
    display: flex;
    justify-content: space-between;
    gap: 80px;
   
}
.youtube {

    display: flex;
    flex-direction: column;
    
}

.youtube p{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #52525B;
padding-top: 32px;



}
#you-p{
    margin-right: 31px;
}
.you-d{
    max-width: 80px;
    width: 100%;
    padding-top: 42px;
   
    
}
.responsive{
    display: flex;
    gap: 80px;
}
.email{
   
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction:column ;
   
}
.email input{
    max-width: 143px;
    max-height: 24px;
    padding-left:12px ;
    padding-top:7px ;
    padding-bottom:7px ;
   
    border: 1px transparent solid;
}
.email img{
    padding-top: 2.5px;
}
.email button{
    width: 42px;
    height: 42px;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    padding: 10px 10px;
    border:1px #0E7490 solid;
}
.bar-2{
    display: flex;
    max-width:255px ;
    max-height:50px ;
background-color: #FFFFFF;
margin-top: 24px;
  
}
.bar-2 input {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    background-color: transparent;
    font-feature-settings: 'liga' off;
    
    /* gray/600 */
    
    color: #52525B;
    outline: none;
}
.bar-2 button{
    max-width: 42px;
    max-height:40px ;
    padding:9px 10px ;
   margin-left: 57px;
}

@media(max-width:750px){
    .webber img{
        width: clamp(50px,5.7vw,73px);
    }
#icon{
display: block;
      font-size: clamp(24px,2.3vw,30px);
     padding-right:20px ;
     cursor: pointer;
}
.u-list{
padding-top: 32px;
}
.u-list ul{
flex-direction: column;
display: none;
}
li{
padding-top: 30px;
}
 .s-b-t{
    background-color:black;
    width: 20px;
    height: 20px;
    position: absolute;
    
 }
 .signup{
    display: none;
 }
}
@media(max-width:1210px){
    .software{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .m-div{
        margin-top: 100px;
    }
    .more{
       flex-wrap: wrap;
    }
    .soft-3{
        padding-bottom: 50px;
    }.software-2{
        margin-top: 40px;
       
    }

}
@media(max-width:380px){
    .software-n p{
        max-width: 370px;
    }
    .soft-2{
        max-width: 370px;
    }

}
@media(max-width:1030px){
    .footer{
      flex-direction: column;
    }
    .youtube{
      justify-content: center;
      align-items: center;
    }
    .footer-2{
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 60px;
      
    }
   
}
@media(max-width:700px){
    .m-div h2{
        text-align: center;
        margin: 0 auto;
    }
    
.soft-1 p{
text-align: center;
margin: 0 auto;
padding: 0px 16px;
}
.soft-2 p{
    text-align: center;
   margin: 0 auto;
   padding: 0px 16px;

}
.software-n p{
    text-align: center;

}
.soft-1 h1{
    text-align: center;
    }
    .soft-2 h1{
        text-align: center;
    
    }
    .software-n h1{
        text-align: center;
    
    }
    h4{
        text-align: center;
    }
    .software img{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .para1{text-align: center;
    margin: 0 auto;}
    .para2{
        text-align: center;
    margin: 0 auto;}
}
@media(max-width:672px){
    .footer-2{
        display: flex;
        flex-direction: column;
    }
    .responsive{
        margin-left: 15px;
    }
}
@media(max-width:685px){

}  @media(max-width:800px){
    .blur{
        background: rgba(165, 243, 252, 0.8);
filter: blur(250px);
    }}
    @media(max-width:650px){
        .blur{
            background: rgba(165, 243, 252, 0.8);
filter: blur(200px);
        }
    }
