*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}
#border{
    border-bottom: 1.5px #18181B solid;
    padding-bottom: 6px;
}
.container{
    
  border:1px #A5F3FC0D solid;

height: 100%;
background: linear-gradient(180deg, rgba(165, 243, 252, 0.1) 23.31%, rgba(165, 243, 252, 0.05) 109.14%);



}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto
}


.signup{
    padding-right: 80px;
    padding-top:33px ;
    
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
}
.webber{
   
    padding-top: 30px;
    padding-left: 80px;
}
.u-list{
    padding-top: 45px;
}
.u-list ul{
    display: flex;
    list-style: none;
   
}
.u-list ul li{
    padding-right: 30px;
    
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}

.p-heading{
  
    text-align: center;
     
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.p-heading h1{
    font-size: 96px;
    padding-bottom: 13px;
    margin-top: 150px;
    padding-right: 20px;
    font-weight: 900;
    font-weight: 900;
    font-size: 96px;
    line-height: 120%;
    /* or 115px */
    
    text-align: center;
    letter-spacing: -2px;
    
    color: #1F2937;
    
}
.p-heading p{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    
    /* gray/600 */
    
    color: #52525B;
    
}
#padd-2 h1{
font-style: normal;
font-weight: 800;
text-align: center;
background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
line-height: 38px;

}

.period{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-top: 40px;
}
.period button{
    border:1px #0E7490 solid;
    padding: 10px 30px;
    cursor: pointer;
    color:#fff ;
    border-radius: 2px;
}
#button-2{
    border:1px #CFFAFE solid;
    color: #0E7490;
    background-color: #CFFAFE;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #0E7490;
    
}
#button-3{
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    /* identical to box height, or 100% */
    
    text-align: center;
    
    /* gray/50 */
    
    color: #FAFAFA;
}
.r-price{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}
.pro{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom:200px;
    margin-top: 80px;
}
.pro img{
    padding-top: 25px;
     max-width: 15px;
     padding-left: 60px;
}
.pro h1{
    padding-top: 35px;
    text-align: center;
}
.pro p{
    padding-top: 25px;
    text-align: center;
}
.pro button{
    padding-right: 15px;
    cursor: pointer;
}
.limit{
    margin-top: 80px;
}

.inline{
display: flex;
}
.inline p{
     padding-top: 40px;
     padding-left: 10px;
}
.inline h1{
    padding-left: 15px;
}
.plan{
     padding-top: 20px;
     
    
}
.plan button{
    border: 1px #CFFAFE solid;
    cursor: pointer;
}
#plan{
    padding: 15px 37px;
   border: 1px #CFFAFE solid;
   border-radius: 2px;
    background-color: #CFFAFE;
    color: #0E7490;
}
#plan-2{
    padding:15px 37px ;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
   
}
#padd{
    padding-top: 60px;
}
#back-c{
    background-color: #fff;
    margin-top: 71px;
    padding-left: 40px;
    box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
     height: 100%;
     padding-bottom: 40px;
     
    
}
#back-c button{
    border: 1px #0E7490 solid;
    padding-left: 30px;
    padding-right: 30px;
    cursor:pointer;
}

.limit p{
    line-height: 40px;
    padding-top: 162px;
}
.q-head{
    text-align: center;
    padding-top: 60px;
}
.q-head h1{
    font-weight: 900;
font-size: 60px;
line-height: 60px;
letter-spacing: -2px;
color: #27272A;


}
.questions{
   
    max-width: 580px;
    width: 100%;
    margin-top: 60px;
    padding-left: 100px;
    
    
}
.ques{
   
    max-width: 495px;
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 30px 0px;
}
.ques h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: -1px;
    
    /* gray/800 */
    
    color: #27272A;
    
}
.ques p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    color: #52525B;
    
    
}
.m-questions{
      display: flex;
      background-color: #F4F4F5;
      padding-bottom: 80px;
      max-width: 1200px;
      margin: 0 auto;
    
}
.questions-2{
   
    max-width: 580px;
    width: 100%;
    margin-top: 60px;
   
}
.q-b-c{
    background-color: #F4F4F5;
}
.margin-4{
    background-color:#F4F4F5;
}
.footer{
   
    padding-top: 81px;
    display: flex;
    justify-content: space-around;
    
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
     height: 100%;
     max-height: 373px;
}
.footer h1{
    font-weight: 500;
font-size: 20px;
line-height: 30px;
padding-bottom: 5px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;

color: #27272A;

}
.footer p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;
padding-top: 12px;
}
.footer a{
    text-decoration: none;
    color: #27272A;
   
}
.youtube {

    padding-left: 129px;
   
    
}
#you-p-1{
         
         
}
.youtube p{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #52525B;
padding-top: 32px;



}
#you-p{
   padding-right: 31px;
}
.you-d{
    max-width: 80px;
    width: 100%;
    padding-top: 42px;
   
    padding-bottom: 84px;
}
.email{
   
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction:column ;
    padding-left: 40px;
    padding-bottom: 20px;
}
.email input{
    max-width: 143px;
    max-height: 24px;
    padding-left:12px ;
    padding-top:7px ;
    padding-bottom:7px ;
   
    border: 1px transparent solid;
}

.email button{
    width: 42px;
    height: 40px;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    padding: 10px 10px;
    border:1px #0E7490 solid;
}
.bar-2{
    display: flex;
    max-width:255px ;
    max-height:50px ;
background-color: #FFFFFF;
margin-top: 24px;
  
}
.bar-2 input {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    background-color: transparent;
    font-feature-settings: 'liga' off;
    
    /* gray/600 */
    
    color: #52525B;
    outline: none;
}
.bar-2 button{
    max-width: 42px;
    max-height:40px ;
    padding:9px 10px ;
   margin-left: 57px;
}
.support{
    padding-right: 20px;
    padding-bottom: 24px;
}
.company{
   padding-left: 200px;
    padding-right: 80px;
    padding-bottom: 24px;
}
.results{
    border:1px #0E7490 solid;
     text-align: center;
     background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 0.01%, #0E7490 100%);
    
}
.results h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-top: 60px;
}
.results p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    
    
}
.re-button{
    padding-top:32px ;
    padding-bottom: 60px;
}
.results button{
    padding: 16px 32px;
    background-color: #fff;
    color: #0E7490;
    border: 1px #fff solid;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* cyan/700 */

color: #0E7490;
}