*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}
#border{
    border-bottom: 1.5px #18181B solid;
    padding-bottom: 6px;
}
.container{
height: 100%;


}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto
}

#icon{
    display: none;
}
.signup{
    padding-right: 80px;
    padding-top:33px ;
    
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
}
.blur{
    width: 100%;
    padding-bottom: clamp(50px,11.7vw,150px);
    background: rgba(165, 243, 252, 0.8);
filter: blur(500px);
}
.webber{
    padding-left: clamp(30px,6.8vw,80px);
    padding-top: clamp(25px,2.4vw,30px);
}
.u-list{
    padding-top: 45px;
    font-weight: 400;
    font-size:clamp(14px,1.25vw,16px);
    line-height: 16px;
}
.u-list ul{
    display: flex;
    list-style: none;
   
}
.u-list ul li{
    padding-right: 30px;
    
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}

.p-heading{
    text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.p-heading h1{
    padding-bottom: 13px;
    padding-right: 20px;
    font-weight: 900;
    font-weight: 900;
    font-size: clamp(32px,6.5vw ,96px);
    line-height: 120%;
    /* or 115px */
    
    text-align: center;
    letter-spacing: -2px;
    
    color: #1F2937;
    
}
.p-heading p{
    font-weight: 400;
    font-size: clamp(13px,1.8vw,20px);
    line-height: 25px;
    text-align: center;
    color: #52525B;
    margin: 0 auto;
    max-width:clamp(200px,64vw,800px) ;
}
#padd-2 h1{
font-style: normal;
font-weight: 800;
text-align: center;
background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
line-height: 38px;

}

.period{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-top: 40px;
}
.period button{
    border:1px #0E7490 solid;
    padding: 10px 30px;
    cursor: pointer;
    color:#fff ;
    border-radius: 2px;
}
#button-2{
    border:1px #CFFAFE solid;
    color: #0E7490;
    background-color: #CFFAFE;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #0E7490;
    
}
#button-3{
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    /* identical to box height, or 100% */
    
    text-align: center;
    
    /* gray/50 */
    
    color: #FAFAFA;
}
.r-price{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1120px;
    margin: 0 auto;
}
.pro{
    display: flex;
    flex-direction: column;
    padding-bottom:200px;
    margin-top: 80px;
    padding-right: 40px;
}
.pro img{
    padding-top: 25px;
     max-width: 15px;
     padding-left: 60px;
}
.pro h1{
    font-weight: 800;
font-size: 28px;
line-height: 38px;
text-align: center;

/* gray/600 */

color: #52525B;

    padding-top:clamp(28px,2.3vw,35px);
    text-align: center;
}
.pro p{
    padding-top: 25px;
    text-align: center;
}
.pro button{
    padding-right: 15px;
    cursor: pointer;
}
.limit{
    margin-top: 95px;
    padding-left:16px ;
}

.inline{
display: flex;
}
.inline p{
     padding-top: 40px;
     padding-left: 10px;
}
.inline h1{
    padding-left: 15px;
}
.plan{
     padding-top: 20px;
     
    
}
.plan button{
    border: 1px #CFFAFE solid;
    cursor: pointer;
}
#plan{
    padding: 15px 37px;
   border: 1px #CFFAFE solid;
   border-radius: 2px;
    background-color: #CFFAFE;
    color: #0E7490;
}
#plan-2{
    padding:15px 37px ;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
   
}
#padd{
    padding-top: 60px;
}
#back-c{
    background-color: #fff;
    margin-top: 71px;
    padding-left: 40px;
    box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
     height: 100%;
     padding-bottom: 40px;
     
    
}
#back-c button{
    border: 1px #0E7490 solid;
    padding-left: 30px;
    padding-right: 30px;
    cursor:pointer;
}

.limit p{
    line-height: 40px;
    padding-top: 162px;
}
.container-1{
    background-color: #F4F4F5;
    padding-top: 80px;
    padding-bottom: 80px;
}
.container-h h1{
    font-weight: 900;
    font-size: clamp(25px,4.6vw,60px);
    line-height: 60px;
    /* identical to box height, or 100% */
    color: #27272A;
    text-align: center;
    letter-spacing: -2px;
    padding-bottom: clamp(20px,7.8vw,100px);
}
.container-2{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:40px ;
    margin: 0 auto;    
}
.ques{
   
    max-width: clamp(300px,43vw,552px);
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 60px 0px;
}
.ques h1{
    font-weight: 600;
    font-size: clamp(18px,1.8vw,24px);
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: -1px;
    
    /* gray/800 */
    
    color: #27272A;
    
}
.ques p{
    font-weight: 400;
    font-size: clamp(12px,1.25vw,16px);
    line-height: 24px;
    padding-top: 12px;
    color: #52525B;
    
}
.margin-4{
    background-color:#F4F4F5;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
   
    margin: 0 auto;
   
    max-width: clamp(100px,86.3vw,1105px);
    
     padding-bottom: 60px;
}
.footer h1{
    font-weight: 500;
font-size:clamp(18px,1.7vw,20px);
line-height: 30px;
padding-bottom: 5px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;

color: #27272A;

}
.footer p{
    font-weight: 400;
font-size: clamp(13px,1.25vw,16px);
line-height: 26px;
/* identical to box height, or 162% */

font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;
padding-top: 12px;
}
.footer a{
    text-decoration: none;
    color: #27272A;
   
}
.footer-2{
   
    display: flex;
    justify-content: space-between;
    gap: 80px;
   
}
.youtube {

    display: flex;
    flex-direction: column;
    
}

.youtube p{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #52525B;
padding-top: 32px;



}
#you-p{
    margin-right: 31px;
}
.you-d{
    max-width: 80px;
    width: 100%;
    padding-top: 42px;
   
    
}
.responsive{
    display: flex;
    gap: 80px;
}
.email{
   
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction:column ;
   
}
.email input{
    max-width: 143px;
    max-height: 24px;
    padding-left:12px ;
    padding-top:7px ;
    padding-bottom:7px ;
   
    border: 1px transparent solid;
}
.email img{
    padding-top: 2.5px;
}
.email button{
    width: 42px;
    height: 42px;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    padding: 10px 10px;
    border:1px #0E7490 solid;
}
.bar-2{
    display: flex;
    max-width:255px ;
    max-height:50px ;
background-color: #FFFFFF;
margin-top: 24px;
  
}
.bar-2 input {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    background-color: transparent;
    font-feature-settings: 'liga' off;
    
    /* gray/600 */
    
    color: #52525B;
    outline: none;
}
.bar-2 button{
    max-width: 42px;
    max-height:40px ;
    padding:9px 10px ;
   margin-left: 57px;
}

.results{
    border:1px #0E7490 solid;
     text-align: center;
     background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 0.01%, #0E7490 100%);
     padding-top: 60px;
     padding-bottom: 60px;
     
}
.results h1{
    font-weight: 800;
    font-size: clamp(20px,3.75vw,48px);
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;
   
}
.results p{
    font-weight: 500;
    font-size: clamp(12px,1.25vw,16px);
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    
}
.re-para{
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.re-button{
    padding-top:32px ;
   
}
.results button{
    padding: 16px 32px;
    background-color: #fff;
    color: #0E7490;
    border: 1px #fff solid;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* cyan/700 */

color: #0E7490;
}

@media(max-width:1160px){
    .m-questions{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .questions-2{
        margin-top:-10px ;
    }
}
@media(max-width:1030px){
    .footer{
      flex-direction: column;
    }
    .youtube{
      justify-content: center;
      align-items: center;
    }
    .footer-2{
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 60px;
      
    }
   
}
@media(max-width:950px){
   .r-price{
    flex-wrap: wrap;
    justify-content: center;
   }
   #margin-80{
    margin-top: -150px;
   }
  
}
@media(max-width:750px){
    .webber img{
        width: clamp(50px,5.7vw,73px);
    }
#icon{
display: block;
      font-size: clamp(24px,2.3vw,30px);
     padding-right:20px ;
     cursor: pointer;
}
.u-list{
padding-top: 32px;
}
.u-list ul{
flex-direction: column;
display: none;
}
li{
padding-top: 30px;
}
 .s-b-t{
    background-color:black;
    width: 20px;
    height: 20px;
    position: absolute;
    
 }
 .signup{
    display: none;
 }
}
@media(max-width:700px){
    #back-c{
        margin-top: -150px;
       }
       
}
@media(max-width:672px){
    .footer-2{
        display: flex;
        flex-direction: column;
    }
    .responsive{
        margin-left: 15px;
    }
}
@media(max-width:474px){
    #margin-80{
        margin-top: -50px;
        padding-left: 15px;
       }
       #back-c{
        margin-top: -200px;
       }
}
@media(max-width:425px){
    #margin-40{
        margin-top: -80px;
        padding-left: 25px;
    }
    .limit{
        margin-top:-90px ;
    }
}
@media(max-width:800px){
    .blur{
        background: rgba(165, 243, 252, 0.8);
filter: blur(250px);
    }}
    @media(max-width:650px){
        .blur{
            background: rgba(165, 243, 252, 0.8);
filter: blur(200px);
        }
    }