*{
    margin: 0px;
    padding: 0px;
   
}

.container{
    max-height: 1800px;
    background-color: #A5F3FC1A;
    border:1px #A5F3FC1A solid;
}
.navbar{
  
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
    margin: 0 auto
}


.signup{
    padding-right: 80px;
    padding-top:33px ;
    
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 10px 15px;
    background-color: #CFFAFE;
    color: #0E7490;
    margin-right: 10px;
    
    cursor: pointer;
}
.webber{
   
    padding-top: 30px;
    padding-left: 80px;
}

.u-list ul{
    display: flex;
    list-style: none;
    padding-right: 0px;
   
}
.u-list ul li{
    padding-right: 30px;
    padding-top: 45px;
    font-family: sans-serif;
}
.u-list ul li a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
.u-list ul li a:hover{
    color: #0E7490;
}

.p-heading{
  
    text-align: center;
     font-family: sans-serif;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.p-heading h1{
    font-size: 96px;
    padding-bottom: 13px;
    margin-top: 200px;
    padding-right: 20px;
}
.period{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-top: 40px;
}
.period button{
    border:1px #0E7490 solid;
    padding: 10px 30px;
    cursor: pointer;
    color:#fff ;
    border-radius: 2px;
}
#button-2{
    border:1px #CFFAFE solid;
    color: #0E7490;
    background-color: #CFFAFE;
    border-radius: 2px;
    cursor: pointer;
}
#button-3{
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    cursor: pointer;
}
.r-price{
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    margin-top: 80px;
}
.pro{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
   
}
.pro img{
    padding-top: 25px;
     max-width: 15px;
     padding-left: 60px;
}
.pro h1{
    padding-top: 35px;
    text-align: center;
}
.pro p{
    padding-top: 25px;
    text-align: center;
}
.pro button{
    padding-right: 15px;
    cursor: pointer;
}

.inline{
display: flex;
}
.inline p{
     padding-top: 40px;
     padding-left: 10px;
}
.inline h1{
    padding-left: 15px;
}
.plan{
     padding-top: 25px;
     
    
}
.plan button{
    border: 1px #CFFAFE solid;
    cursor: pointer;
}
#plan{
    padding: 15px 37px;
   border: 1px #CFFAFE solid;
   border-radius: 2px;
    background-color: #CFFAFE;
    color: #0E7490;
}
#plan-2{
    padding:15px 37px ;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
   
}
#padd{
    padding-top: 60px;
}
#back-c{
    background-color: #fff;
 
    padding-left: 40px;
    box-shadow: 20px 22px 24px rgba(23, 18, 63, 0.120028);
     height: 100%;
     padding-bottom: 40px;
     
    
}
#back-c button{
    border: 1px #0E7490 solid;
    padding-left: 30px;
    padding-right: 30px;
    cursor:help;
}

.limit p{
    line-height: 40px;
    padding-top: 162px;
}
.q-head{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 150px;
    padding-top: 60px;
}
.questions{
   
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    padding-left: 100px;
    
    
}
.ques{
   
    max-width: 500px;
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 30px 0px;
}
.m-questions{
      display: flex;
      background-color: #F4F4F5;
      padding-bottom: 60px;
      margin-top: 60px;
    
}
.questions-2{
   
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
   
}
.q-b-c{
    background-color: #F4F4F5;
}
.margin-4{
    background-color:#F4F4F5;
}
.footer{
  margin:0 auto;
   
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    
    width: 100%;
    max-width: 1440px;
    
}
.footer h1{
    font-size: 17px;
}
.footer p{
     line-height: 30px;
}
.youtube{
    
    padding-left: 60px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.email{
   
    max-width: 400px;
    width: 100%;
    
    padding-top: 50px;
    padding-bottom: 20px;
}

.support{
   
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.company{
   
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.results{
    border:1px #0E7490 solid;
     text-align: center;
     font-family: sans-serif;
    line-height: 20px;
    background-color: #0E7490;
    
}
.results h1{
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 20px;
    color: #fff;
}
.results p{
    color: #fff;
}
.re-button{
    padding-top:40px ;
    padding-bottom: 50px;
}
.results button{
    padding: 15px 35px;
    background-color: #fff;
    color: #0E7490;
    border: 1px #fff solid;
    border-radius: 2px;
    cursor: pointer;
}