*{
    padding: 0%;
   margin: 0%;
   font-family: 'Mulish', sans-serif;
   
}
.container{
    max-height: 800px;
    background: linear-gradient(180deg, rgba(165, 243, 252, 0.1) 23.31%, rgba(165, 243, 252, 0.05) 109.14%);
    border:1px #A5F3FC1A solid;
   
}
.container-1{
   
    background-color: #A5F3FC1A;
}
.navbar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    max-height: 100px;
}


.signup{
    padding-right: 80px;
    padding-top:33px ;
   
}
.signup button{
    border: 1px #CFFAFE solid;
    padding: 12px 20px;
    background-color: #CFFAFE;
    color: #0E7490;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
    
   
}
.webber{
   
    padding-top: 30px;
    padding-left: 80px;

}
.u-list{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
padding-top: 45px;
}
.u-list ul{
    display: flex;
    list-style: none;
}
.u-list ul li{
    padding-right: 30px;
}
#border{
    border-bottom:1.5px #18181B solid;
    padding-bottom: 6px;
}
.u-list ul li a{
    text-decoration: none;
    color: #18181B;
    padding-top: 6px;
}
.u-list ul li a:hover{
    color: #0E7490;
}

.m-portion{
      
      display: flex;
      justify-content: center;
}
.m-portion h1{
    text-align: center;
    font-size: 96px;
    font-weight:  900; ;
    margin-top: 125px;
    line-height: 120%;
letter-spacing: -2px;
color: #1F2937;

}
.m-btn{
   
    display: flex;
    justify-content: center;
    margin-top: 78px;
}
.m-btn button{
    padding: 16px 32px;
    cursor: pointer;
    font-weight: 400;
font-size: 18px;
line-height: 18px;
max-width: 158px;
max-height: 50px;
}
.bt-1{
    padding-right: 20px;
    
}
.bt-1  button{
      border:1px #0E7490 solid;

      color: #ffff;
      background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
border-radius: 2px;
}
.bt-2 button{
   border:1px #CFFAFE solid;
   background-color: #CFFAFE;
   color: #0E7490;
    border-radius: 2px;
}
.main{
}
.box{
    
   
    margin-left:80px ;
   margin-right: 80px;
margin-top: 104px;
background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 0.01%, #0E7490 100%);
    
}
.box h1{
    color:#0E7490;
    padding-bottom: 250px;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame img{
    max-width: 947px;
   max-height: 628px;
 margin: 10px;
}
.features{
    margin-top: 175px;
    display: flex;
    justify-content: center;
}
.features h1{
    font-size: 60px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: -0.01em;
    font-feature-settings: 'liga' off;
    font-weight: 900;
    color: #1F2937;
}
.h-features{
    
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
     margin-top: 90px;
}
.rabust{
   
    max-width: 350px;
    width: 100%;
   
    text-align: center;
    
    
}
.rabust h1{
    font-weight: 600;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: -0.03em;
color: #27272A;
padding-bottom: 8px;
padding-top: 25px;
}
.rabust p{
    font-weight: 400;
line-height: 28px;
text-align: center;
max-width: 350px;
max-height: 56px;
width: 100%;
height: 100%;

color: #52525B;
}
.d-features{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 65px;
}
.working{
    display: flex;
    justify-content:space-around;
    margin-top: 169px;
}
.working h1{
    font-size:60px ;
    line-height: 60px;
text-align: center;
letter-spacing: -0.01em;
    
    color: #1F2937;
    font-weight: 900;
 
}
.m-working{
    display: flex;
    justify-content:space-around;
    max-width: 1140px;
    margin-top: 105px;
    margin: 0 auto;
}
.signin{
   
    max-width: 530px;
    width:100%;
   padding-left: 30px;
    margin-top: 228px;
    justify-content: space-around;
}
.signin h1{
    font-weight: 800;
font-size: 48px;
line-height: 115.5%;
letter-spacing: -2px;

color: #1F2937;

}
.signin p{
    font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #52525B;
padding-top: 24px;
}
.signin button{
    padding:16px 32px ;
    border:1px transparent solid;
    color: #ffff ;
    cursor: pointer;
    
    font-weight: 400;
font-size: 16px;
line-height: 16px;
letter-spacing: -1px;
}
#c-btn{
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
max-width: 139px;
max-height: 48px;
width:100% ;
height: 100%;
border-radius: 2px;

}
#c-btn-1{
 
 background: #0891B2;
border-radius:100%;
padding:20px 20px ;

}
#c-btn-5 {

background-color: #ffff;
  border:1px #ffff solid;
  padding-bottom: 1cap;
}
.pad-b-1{
    display: flex;
    margin-top: 34px;
}
.pad-b{
    padding-left: 220px;
 margin-top: -10px;
    display: flex;
}
.frame-2{
   padding-left: 130px;
   margin-top: 104px;
  
}
.margin{
    margin: 0 auto;
    background:  linear-gradient(274.03deg, #06B6D4 0%,#0284C7 0.01%,  #0E7490 100%);
    margin-top: 260px;
}
.president{
       display: flex;
       justify-content: space-around;
     
      margin: 0 auto;
       max-width: 1440px;
      
}
.im1{
    display: flex;
    margin-top: 164px;
  padding-left: 100px;
   
}
.im1 img{
    height:60px ;
    width: 60px;
    padding-bottom: 60px;
}
.flex-im1{
    display: flex;
    flex-direction: column;
    text-align:start;
    color:#ffff ;
    margin-top: 5px;
}
.flex-im1 h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;
    padding-left: 16px;
}
.flex-im1 p{
    padding-left: 16px;
    font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;
    
}
.pres-p{
    position: relative;
    bottom: 39px;
}
.im2{
    display: flex;
    max-width: 766px;
    width: 100%;
    line-height: 32px;
    
    padding-bottom: 64px;
  margin-top: 88px;
  margin-right: 130px;
}
.im2 img{
    width: 34px;
height: 98px;
padding-right: 16px;

}
.im2 p{
    color: #ffff;
    max-width:766px;
    font-weight: 500;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;

}
.brands{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}
.brands h1{
    font-size:60px;
    line-height: 115.5%;
letter-spacing: -2px;
    font-weight: 900;
    color: #1F2937;
}
.brands-u{
    display: flex;
    justify-content:center;
    
    margin-top: 73px;
}
.brands-l{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.micro{
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.margin-2{
    background: linear-gradient(274.03deg, #06B6D4 0%, #0284C7 0.01%, #0E7490 100%);
    margin-top: 299px;
}

.numbers{
  
   margin: 0 auto;
   
    text-align: center;
    max-width: 1440px;
    max-height: 382px;
    width: 100%;
    height: 100%;
   
  
}
.numbers h1{
    font-weight: 900;
    font-size: 60px;
 color: #ffff;
 line-height: 60px;
letter-spacing: -0.02em;
 padding-top: 80px;
 
}
.numbers p{
    color: #ffff;
    padding-top: 24px;
 padding-bottom: 200px;
}


.specs{
  display: flex;
  justify-content: center;
    
}
.r-box{
    border:1px #e1e0e0 solid;
    border-radius: 16px;
    margin-top: -120px;
    max-width: 255px;
    width: 100%;
    height: 100%;
    max-height: 226px;
    text-align: center;
    font-family: sans-serif;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #ffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.r-box h1{
    font-weight: 800;
font-size: 48px;
    padding-top: 75px;
    padding-left:70px ;
    padding-right: 70px;
}
.r-box p{
    padding-bottom: 68px;
    
    
}
.download{
    display: flex;
    justify-content: center;
}
.d-heading{
    text-align: center;
    font-size: 48px;
    line-height: 130%;
letter-spacing: -2px;
    margin-top: 153px;
    color: #1F2937;
}
.d-heading h1{
    padding-bottom: 25px;
}
.d-button{
    margin-top: 60px;
    max-width: 196px;
    width: 100%;
    height: 100%;
    max-height: 50px;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.d-button button{
    padding: 16px 30px;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    border:1px #0284C7 solid;
    color: #ffff;
    cursor: pointer;
}
.margin-3{
    background-color:#F4F4F5;
    margin-top: 150px;
}
.footer{
   
    padding-top: 81px;
    display: flex;
    justify-content: space-around;
    
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
     height: 100%;
     max-height: 373px;
}
.footer h1{
    font-weight: 500;
font-size: 20px;
line-height: 30px;
padding-bottom: 5px;
letter-spacing: -0.01em;
font-feature-settings: 'liga' off;

color: #27272A;

}
.footer p{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

font-feature-settings: 'liga' off;

/* gray/800 */

color: #27272A;
padding-top: 12px;
}
.footer a{
    text-decoration: none;
    color: #27272A;
   
}
.youtube {

    padding-left: 129px;
   
    
}
#you-p-1{
         
         
}
.youtube p{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #52525B;
padding-top: 32px;



}
#you-p{
   padding-right: 31px;
}
.you-d{
    max-width: 80px;
    width: 100%;
    padding-top: 42px;
   
    padding-bottom: 84px;
}
.email{
   
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction:column ;
    padding-left: 40px;
    padding-bottom: 20px;
}
.email input{
    max-width: 143px;
    max-height: 24px;
    padding-left:12px ;
    padding-top:7px ;
    padding-bottom:7px ;
   
    border: 1px transparent solid;
}

.email button{
    width: 42px;
    height: 42px;
    background: linear-gradient(274.03deg, #06B6D4 0%, #0E7490 0.01%, #0284C7 100%);
    padding: 10px 10px;
    border:1px #0E7490 solid;
}
.bar-2{
    display: flex;
    max-width:255px ;
    max-height:50px ;
background-color: #FFFFFF;
margin-top: 24px;
  
}
.bar-2 input {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    background-color: transparent;
    font-feature-settings: 'liga' off;
    
    /* gray/600 */
    
    color: #52525B;
    outline: none;
}
.bar-2 button{
    max-width: 42px;
    max-height:40px ;
    padding:9px 10px ;
   margin-left: 57px;
}
.support{
    padding-right: 20px;
    padding-bottom: 24px;
}
.company{
   padding-left: 200px;
    padding-right: 80px;
    padding-bottom: 24px;
}